<nav onselectstart="return false">
    <ul>
        <li *ngIf='toolData.toolAdd.isShow' [className]='toolData.toolAdd.liClass'>
            <span *ngIf="!toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent'></span>
            <span *ngIf="toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent' (click)="toolAdd.emit($event)"></span>
        </li>
        <li *ngIf='toolData.toolEdit.isShow' [className]='toolData.toolEdit.liClass'>
            <span *ngIf="!toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent'></span>
            <span *ngIf="toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent' (click)="toolEdit.emit($event)"></span>
        </li>
        <li *ngIf='toolData.toolDelete.isShow' [className]='toolData.toolDelete.liClass'>
            <span *ngIf="!toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent'></span>
            <span *ngIf="toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent' (click)="toolDelete.emit($event)"></span>
        </li>
        <li lang="summary" *ngIf='toolData.isSummaryShow' id="ceshi">
            <span (click)="togClass(summary)">汇总<em class="topIcon" #summary></em></span>
            <ul class="summaryUl" *ngIf="tooglClass">
                <li *ngIf='toolData.toolSubtotal.isShow' [className]='toolData.toolSubtotal.liClass'>
                    <span>
                        <label>
                            <input type="checkbox" (change)="toolSubtotal.emit($event)" [(ngModel)]='trToolSubtotalIsShow'>
                            {{ toolData.toolSubtotal.toolSubtotalContent }}
                        </label>
                    </span>
                </li>
                <li *ngIf='toolData.toolTotal.isShow' [className]='toolData.toolTotal.liClass'>
                    <span>
                        <label>
                            <input type="checkbox" (change)="toolTotal.emit($event)" [(ngModel)]="trToolTotalIsShow">
                            {{ toolData.toolTotal.toolTotalContent }}
                        </label>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</nav>