<p>演示</p>
<laofanV-example-table></laofanV-example-table>


<!-- <div>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>标题1</td>
                <td>标题2</td>
                <td>标题3</td>
                <td>标题4</td>
                <td>标题5</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">1</td>
                <td rowspan="5">数据1</td>
                <td colspan="2">数据3</td>
                <td>数据4</td>
                <td>数据5</td>
            </tr>
            <tr>
                <td>数据2</td>
                <td>数据3</td>
                <td>数据4</td>
                <td>数据5</td>
            </tr>
            <tr>
                <td>数据2</td>
                <td>数据3</td>
                <td rowspan="2">数据6</td>
                <td>数据5</td>
            </tr>
            <tr>
                <td>4</td>
                <td>数据2</td>
                <td>数据3</td>
                <td>数据5</td>
            </tr>
            <tr>
                <td>5</td>
                <td>数据2</td>
                <td>数据3</td>
                <td>数据4</td>
                <td>数据5</td>
            </tr>
        </tbody>
    </table>
</div> -->