<h3>
  <a id="confirm" class="anchor" href="#confirm" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
  </a> 表格列-自定义格式化列/隐藏列
</h3>

<p>
  自定义工具栏 toolData.columnsShowOrHide.isShow = true；<br> 开启后，工具栏多一栏表格列显示隐藏。 自定义列设置： columnSetting.isShow = true; <br> columnFormat 列格式化 <br> columnIsHide 列隐藏 <br> 具体代码点击右侧：演示源

</p>
<div class="with-source">
  <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/customizeFormattingColumns/formattingCol-example.component.ts" target="_blank">
        演示源</a>
  <button (click)="onEditFn()">编辑</button>
  <formattingCol-example-table [isEdit]="isEdit"></formattingCol-example-table>
</div>