:host /deep/ {
    columnSetting-example-table{
        .icon{
            float: left;
            width: 20px;
            height: 20px;
            background: red;
        }
        .icon1{
            float: right;
            width: 20px;
            height: 20px;
            background: red;
        }
    }
}