
:host /deep/ .main-content{
  .gengxin{
    color: red;
  }
  .teshu {
    color: #22A9B6;
  }
  .nested-obj {
    color: #bdbdbd;
  }

  p {
    color: red;
  }
  .yanshi {
    float: right;
  }
  .warning {
    color: red;
  }
}