<th ng2-st-checkbox-select-all *ngIf="isMultiSelectVisible" [grid]="grid" [source]="source" [isAllSelected]="isAllSelected"
    (click)="selectAllRows.emit($event)">
</th>
<th ng2-st-actions-title *ngIf="showActionColumnLeft" [grid]="grid"></th>
<th *ngFor="let column of grid.getColumns()" class="ng2-smart-th {{ column.id }}" [ngClass]="column.class" [style.width]="column.width">
    <ng2-st-column-title [source]="source" [column]="column" (sort)="sort.emit($event)" [customizeColumn]="customizeColumn"></ng2-st-column-title>
    <!-- 自定义列设置 -->
    <em class="topIcon" *ngIf="showColumnSetting" (click)="onColumnSetting($event,column)"></em>
    <ul class="hideColumn">
        <li *ngIf="columnFormat.isShow">
            <label>
                <span><input type="text" (keyup)='setColumn($event)'></span>
                <span><i [innerHTML]="columnFormat.content"></i> (可选：{{ columnFormat.optional}})</span>
            </label>
        </li>
    </ul>
</th>
<th ng2-st-actions-title *ngIf="showActionColumnRight" [grid]="grid"></th>